.transactionHistory {
  margin-left: auto;
  margin-right: auto;
  width: 800px;

  text-align: center;
  border: 1px rgb(242, 196, 196);
}
.tableHeader {
  background-color: aqua;
  font-size: larger;
  border-radius: 4%;
}
.tableBody {
  background-color: beige;
  font-size: smaller;
  padding: 5px;
}
